.center{
    margin-right:40%;
}
.banner-1{
    width:100%;
    height:500px;
    position:absolute;
    overflow:hidden;
    z-index:-1;
    left:0;
}

.in-banner{
    display:block;
    position:float;
    color:#BFBEBB;
    width:50%;
    margin-top:10%;
    font-family: Lato;
    font-size: 25px;
    margin-left:50%;
    border-radius: 30px;
    opacity:80%;
    left:20px;

}
.in-banner>.btn{
    color:#BFBEBB !important;
    background-color:#403F3E !important;
    border-color:#403F3E !important;
    margin:10px;

}
.in-banner>p{
    padding:10px;

}
.section-1{
    background-color:#1C1B19;
    margin-top:8.3em;
    height:15em;
    padding-bottom:20em;

}

.section-2{
    background-color:#B2AE9D;
    height:15em;
    padding-bottom:20em;
}

.pad{
    margin-top:20px;
}
.pad > p{
    margin-top:2em;
   

}
.icon-pad{
    text-align: center;
    padding-left:1em;
    padding-top:0.5em;
    padding-right:0.5em;

}

.gap{
    padding-top:2em;
}

.top_container{
    margin-top:4em;
}

.pad{
    padding:5px;
}
.no-border{
    border:none;
}